#cadastro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: #6f95ff;
    border: 5px solid #5c65c0;
    border-radius: 10px;
    height: 370px;
    width: 350px;
    
  }

  .cadastro_input{
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    width: 100%;
  }

  #cadastro_titulo{
    text-align: center;
  }

  #cadastro_sucesso{
    background-color: green;
    font-size: 12.5px;
    text-align: center;
    margin-top: 10px;
  }

  #cadastro_erro{
    background-color: #ff4040;
    font-size: 12.5px;
    text-align: center;
  }

  #cadastro_botao{
    width: 100%;
    background-color: aqua;
    border: none;
    border-radius: 10px;
    padding: 10px;
  }
  