body {
	padding-top: 50px;
	padding-bottom: 20px;
	font-family: 'Ubuntu', sans-serif;
	background: #353535;
	color: #FFF;
}

.jumbotron h1 {
	color: #353535;
}

span.icon {
  width: 425px;
  height: 85px;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
	color: #1a0d6d;
}

h2 {
	color: #BDC3C7
}

.mrng-60-top {
	margin-top: 60px;
}

/* Global Button Styles */
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff !important;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}

a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #FFF !important;
	text-shadow: none;
}

a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}

a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff !important;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}


/* Victoria Buttons */

/* Sandy Buttons */


/* Gibson Buttons */


/* Thar Buttons */

a.animated-button.thar-one {
	color: white !important;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #5c65c0 !important;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

a.animated-button.thar-one:hover {
    color: white!important;
    background-color: transparent;
    text-shadow: none;
}


a.animated-button.thar-one:hover:before {
	bottom: 0%;
	top: auto;
	height: 100%;
}

a.animated-button.thar-one:before {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: white !important;
	background: #413b6b !important;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

a.animated-button.thar-two {
	color: #173dd3;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #181bf7;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

a.animated-button.thar-two:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: ntwo;
}

a.animated-button.thar-two:hover:before {
	top: 0%;
	bottom: auto;
	height: 100%;
}

a.animated-button.thar-two:before {
	display: block;
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #181bf7;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

a.animated-button.thar-three {
	color: #173dd3;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #181bf7;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

a.animated-button.thar-three:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nthree;
}

a.animated-button.thar-three:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}

a.animated-button.thar-three:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #181bf7;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

a.animated-button.thar-four {
	color: #173dd3;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #181bf7;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

a.animated-button.thar-four:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nfour;
}

a.animated-button.thar-four:hover:before {
	right: 0%;
	left: auto;
	width: 100%;
}

a.animated-button.thar-four:before {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #181bf7;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}